{% extends 'base.html' %}
{% load static %}

{% block title %}Resultados de Búsqueda{% endblock title %}

{% block content %}
<div class="bg-gray-100 text-gray-900 p-6 md:py-10 md:px-20 lg:px-40 xl:px-60">
    <h1 class="text-4xl font-extrabold py-5 text-center text-green-600">Resultados de la Búsqueda</h1>

    <!-- Mensaje en caso de no encontrar resultados -->
    {% if message %}
    <div class="p-5 grid place-items-center text-center">
        <p class="text-5xl font-extrabold text-red-600 mb-4">404</p>
        <p class="text-lg text-gray-700">{{ message }}</p>
        <a href="/" class="mt-6 bg-green-600 text-white px-6 py-2 rounded-md hover:bg-green-700 transition duration-300">Volver al Inicio</a>
    </div>
    {% endif %}

    <!-- Mostrar resultados si existen -->
    {% if results %}
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
        {% for blog in results %}
        <div class="bg-white p-5 rounded-lg shadow-md hover:shadow-lg transition duration-300">
            <img src="{{ blog.thumbnail_img.url }}" alt="{{ blog.title }}" class="rounded-lg object-cover w-full h-40">
            <div class="mt-4">
                <a href="/blogpost/{{ blog.slug }}" class="text-green-600 hover:text-green-700 font-bold text-lg">{{ blog.title }}</a>
                <p class="text-gray-600 mt-2 text-sm">{{ blog.meta|slice:150 }}</p>
                <p class="text-sm text-gray-500 mt-4">Publicado el {{ blog.time }}</p>
                <a href="/blogpost/{{ blog.slug }}" class="mt-4 inline-block bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition">Leer más</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Paginación -->
    <div class="flex justify-between items-center mt-8">
        {% if results.has_previous %}
        <a href="?q={{ query }}&page={{ results.previous_page_number }}" class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition">Anterior</a>
        {% endif %}
        {% if results.has_next %}
        <a href="?q={{ query }}&page={{ results.next_page_number }}" class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition">Siguiente</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
