{% extends 'base.html' %}

{% block title %}¡Gracias por Contactarnos!{% endblock title %}

{% block content %}

<div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
    <div class='grid h-80 place-items-center'>
        <div class="text-center">
            <h1 style="font-family: Poppins-Bold;" class="text-4xl font-extrabold text-cyan-300 mb-4">¡Gracias por Contactarnos!</h1>
            <p class='text-lg text-gray-300'>Apreciamos tu interés en nuestros proyectos y esfuerzos relacionados con la gestión de riesgos. Nos pondremos en contacto contigo lo antes posible.</p>
            <p class="mt-6 text-gray-400">Mientras tanto, puedes visitar nuestra <a href='/projects' class='text-cyan-300 hover:text-cyan-400 underline'>sección de proyectos</a> o regresar a nuestra <a href='/' class='text-cyan-300 hover:text-cyan-400 underline'>página principal</a>.</p>
        </div>
    </div>
</div>

{% endblock %}
